EXPO_PUBLIC_APP_ENV=
EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_DATA_SOURCE=
EXPO_PUBLIC_ENTRA_AUTHORIZATION_ENDPOINT=
EXPO_PUBLIC_ENTRA_TOKEN_ENDPOINT=
EXPO_PUBLIC_ENTRA_ISSUER=
EXPO_PUBLIC_ENTRA_JWKS_URI=
EXPO_PUBLIC_ENTRA_CLIENT_ID=
EXPO_PUBLIC_ENTRA_REDIRECT_URI=
EXPO_PUBLIC_ENTRA_SCOPE=
